@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #333;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}
